$textColor: #1A1431;
$header_bg_color: linear-gradient(45deg, rgba(219,219,218,1) 0%, rgba(111,108,121,1) 51%, rgba(228,228,230,1) 100%);
$header_border_color: #1A1431;
$second_h2_color: black;
$silver: #c0c0c0;

